<ng-container *ngIf="!fetching; else loading">
  <ng-container *ngIf="_linkedEntities && _linkedEntities.length !== 0">
    <mat-accordion multi>
      <ng-container *ngFor="let link of value; let i = index"  >
      <mat-expansion-panel   *ngIf="linkEntityExist(link.pidUri)" [expanded]="true">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <ds-icon class="me-1" iconType="S3" [tooltipDisabled]="true" [icon]="getLinkedEntityResourceType(link.pidUri)">
              </ds-icon>
              <span *ngIf="getLinktype(link) == 'Inbound'" class="badge badge-primary mx-1">Inbound</span>
            {{label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row d-flex" *ngIf="!isLoading; else loading">
            <div class="col-md-3 text-muted font-weight-normal">
              Label:
            </div>
            <div class="col-md-9 my-1" style="overflow-y: hidden">
              {{getLinkedEntityLabel(link.pidUri)}}
            </div>
            <div class="col-md-3 text-muted font-weight-normal">
              Definition:
            </div>
            <div class="col-md-9 my-1" style="overflow-y: hidden" innerHTML="{{getLinkedEntityDefinition(link.pidUri)}}">
            </div>
            <div class="col-md-3 text-muted font-weight-normal">
              PID URI:
            </div>
            <div class="col-md-9" [class.font-weight-bold]="!displayForm">
              <a class="wordbreak" [href]="link.pidUri" target="_blank" rel="noopener noreferrer">{{link.pidUri}}</a>
            </div>
            <div class="col-12 text-right">
              <button (click)="confirmAndRemoveLinking(link, i)" mat-raised-button color="primary">Remove</button>
            </div>
          </div>
        </mat-expansion-panel>
      </ng-container> 
    </mat-accordion>
  </ng-container>
</ng-container>
<ng-template #loading>
  <fa-icon icon="spinner" [spin]="true"></fa-icon>
</ng-template>
