.list-group-item {
    border-radius: 0.25rem;
    cursor: pointer !important;
}

.list-group-item.active {
    background-color: var(--bayer-dark-blue) !important;
    border-color: var(--bayer-dark-blue) !important;
    background-image: none;
}

.subActive {
    color: white;
    background-color: bayer-green;
    border-color: bayer-green;
}
