<div style="margin-top: 20vh">
  <div class="d-flex justify-content-center">
    <img [src]="imageUrl" alt="Bayer AG" width="180em" height="180em" />
  </div>
  <div class="d-flex justify-content-center mt-3">
    <h1 class="display-3">You were successfully logged in.</h1>
  </div>
  <div class="justify-content-center mt-3">
    <div class="text-center" style="font-size: large">
      Redirecting you to your requested page in a moment.
      <br />
      If you are not redirected, you can also
      <a href (click)="redirect()">click here</a>.
    </div>
  </div>
</div>
