@use '@angular/material' as mat;

.sidenav-title {
    padding-left: 56px;
    height: var(--mat-toolbar-height);
    line-height: var(--mat-toolbar-height);
}

.sidebar-content {
    height: 100%;
    overflow: hidden;
}
