<div class="sidebar-content">
  <app-title [iconColor]="'primary'" class="sidenav-title"></app-title>
  <app-sidebar-filter [searchResultState]="searchResult$"
    (resourceSearchEvent)="handleResourceSearchChanged($event)">
  </app-sidebar-filter>
  <app-sidebar-content class="pt-1" [searchResultState]="searchResult$" [loadingState]="loading$" [resetScrolling]="resetScrolling$"
    [selectedResourcePidUri]="selectedResourcePidUri" (nextResourceBatchEvent)="handleNextResourceBatch($event)"
    (resourceSelectedEvent)="handleResourceSelectionChanged($event)" [currentPageStatus]="currentPageStatus">
  </app-sidebar-content>
</div>