<div class="row px-3" *ngIf="pidUriTemplateForm">
  <form [formGroup]="pidUriTemplateForm" class="form-group w-100">
    <table class="table" *ngIf="metaData && (pidUriTemplates$ | async); else loading">
      <thead>
        <tr>
          <th></th>
          <th scope="col" *ngFor="let m of metaData">{{m.properties[constants.Metadata.Name]}}
            <mat-icon fontSet="material-icons-outlined" [inline]="true"
              matTooltip="{{m.properties[constants.Metadata.Comment]}}">info</mat-icon>
          </th>
          <th class="no-wrap"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pidUriTemplates$ | async; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td *ngFor="let m of metaData">
            <div *ngIf="p !== selectedForEdit">
              <app-entity-display-item [entityProperty]="p.properties[m.key]"
                [metadataProperty]="m">
              </app-entity-display-item>
            </div>
            <div *ngIf="p === selectedForEdit">
              <app-form-item name="{{m.properties[pidUriConstant]}}"
                [readOnly]="isReadOnly(m.properties[pidUriConstant])"
                [formControl]="pidUriTemplateForm.controls[m.properties[pidUriConstant]]" [metaData]="m"
                [errors]="f[m.properties[pidUriConstant]].errors" [formItemSettings]="formItemSettings">
              </app-form-item>
            </div>
          </td>
          <td class="no-wrap" style="font-size: 1rem; cursor: pointer;">
            <div class="text-right" *ngIf="p !== selectedForEdit">
              <button mat-icon-button color="primary" class="mr-2" (click)="selectForEdit(p)"
                *ngIf="!isTemplateDeprecated(p)" matTooltip="Edit template">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="confirmAndDelete(p)" *ngIf="!isTemplateDeprecated(p)" matTooltip="Delete template">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="reactivate(p)" *ngIf="isTemplateDeprecated(p)" matTooltip="Reactivate template">
                <mat-icon>replay</mat-icon>
              </button>
            </div>
            <div *ngIf="p === selectedForEdit">
              <button mat-icon-button color="primary" class="mr-2" (click)="cancelEditing()">
                <mat-icon>cancel</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="editPidUriTemplate()">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="!selectedForEdit">
          <th scope="row">New</th>
          <td *ngFor="let m of metaData">
            <app-form-item name="{{m.properties[pidUriConstant]}}" [readOnly]="isReadOnly(m.properties[pidUriConstant])"
              [formControl]="pidUriTemplateForm.controls[m.properties[pidUriConstant]]" [metaData]="m"
              [errors]="f[m.properties[pidUriConstant]].errors" [formItemSettings]="formItemSettings"></app-form-item>
          </td>
          <td class="no-wrap" style="font-size: 1.2rem; cursor: pointer;">
            <button mat-raised-button color="primary" (click)="create()">
              <mat-icon fontSet="material-icons-outlined">create</mat-icon>
              Create
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<ng-template #loading>
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <app-colid-spinner></app-colid-spinner>
    </div>
  </div>
</ng-template>