mat-progress-bar {
    margin-top: -4px;
}

.search-results {
    height: calc(100vh - 78px - var(--mat-toolbar-height)) !important;
    overflow-y:scroll;
    overflow-x:hidden;
}

::ng-deep .mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
    height: 60px !important;
}