<mat-progress-bar [hidden]="!(loadingState | async)" mode="indeterminate"></mat-progress-bar>

<mat-list id="list-sidebar-resources" *ngIf="(searchResultState | async)?.hits as hits" class="search-results px-1"
  infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false"
  (scrolled)="nextBatch(hits.hits.length)" #results>
  <app-sidebar-content-item *ngFor="let hit of hits.hits; let i = index" (select)="selectResource($event)" [hit]="hit"
    [selectedResourcePidUri]="selectedResourcePidUri" [index]="i" [currentPageStatus]="currentPageStatus"></app-sidebar-content-item>
</mat-list>

<ng-template #loading>
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <app-colid-spinner></app-colid-spinner>
    </div>
  </div>
</ng-template>
