<div class="modal-header justify-content-center">
    <h2 class="mb-0"><mat-icon>lock</mat-icon> COLID entry already locked</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12 text-center">
            <p>
                You are about to change an entry that is being changed at the same time by another user. 
            </p>
            <p>
                Please try again in a short time.
            </p>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button mat-raised-button color="primary" class="me-2" [mat-dialog-close]="true"> OK </button>
</div>