<div class="container" *ngIf="resourceResult && metaData && (consumerGroup$ | async); else loadingTemplate">
  <div>
    <app-form [metaData]="metaData" [linkingMetadata]="linkingMetadata" [errors]="formErrors"
      [entity]="resourceResult" [isNew]="isNew" [isTypeChanging]="isResourceChanging"
      [placeholder]="placeholder" [adminPrivilege]="authService.hasAdminPrivilege$ | async"
      [creationType]="creationType"
      [formReadOnly]="isLoading"
      [hasPublishedVersion]="hasPublishedVersion" [pidUriTemplatesFetched]="pidUriTemplatesFetched$"
      [pidUriTemplateNames]="pidUriTemplateNames" [mainDistribution]="mainDistribution"
      (handleFormChanged)="handleFormChanged($event)">
    </app-form>
    <div class="col-12 mb-3">
      <div class="row justify-content-end">
        <button mat-raised-button class="ml-2" *ngIf="!isNew" [routerLink]="['/resource']"
          [queryParams]="{ pidUri: resourceResult.pidUri }">
          <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
          Cancel
        </button>
        <!-- <action-button class="ml-2" color="info" (click)="revert()" *ngIf="resourceResult.publishedVersion" icon="undo" [disabled]="isLoading" [loading]="isLoading && currentOperation === operation.REVERT">
          Revert to published
        </action-button> -->
        <action-button class="ml-2" id="saveButton" color="draft" (click)="save()" icon="save" [disabled]="isLoading" [loading]="isLoading && currentOperation === operation.SAVE">
          Save
        </action-button>
        <action-button class="ml-2" id="publishButton" color="published" (click)="saveAndPublish()" icon="cloud_upload" [disabled]="isLoading" [loading]="isLoading && (currentOperation === operation.PUBLISH || currentOperation === operation.SAVEANDPUBLISH)">
          Publish
        </action-button>
      </div>
    </div>
  </div>
  <br />
</div>
<ng-template #loadingTemplate>
  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <app-colid-spinner></app-colid-spinner>
    </div>
  </div>
</ng-template>