<mat-toolbar class="align-items-center" color="primary">
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="toggleNavbar()">
      <mat-icon style="color: white">menu</mat-icon>
    </button>

    <app-title [iconColor]="'white'"></app-title>

    <span class="filler"></span>

    <button
      *ngIf="hasCreatePrivilege$ | async"
      mat-flat-button
      class="d-none d-md-block"
      id="button-sidebar-pid-link"
      (click)="registerNewResource()"
    >
      Register Resource
    </button>

    <span class="filler"></span>

    <ng-container *ngIf="consumerGroups$ | async as consumerGroups">
      <mat-form-field *ngIf="consumerGroups.length !== 0" appearance="fill">
        <mat-select
          matTooltip="Select your consumer group"
          style="font-size: 14px !important"
          [(ngModel)]="selectedConsumerGroup"
          (selectionChange)="selectConsumerGroup($event)"
        >
          <mat-select-trigger *ngIf="selectedConsumerGroup">
            <span id="selectConsumerGroup">{{
              selectedConsumerGroup.name
            }}</span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let consumerGroup of consumerGroups"
            [value]="consumerGroup"
          >
            <span id="{{ consumerGroup.name | removeWhiteSpaces }}">{{
              consumerGroup.name
            }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        class="ms-2"
        *ngIf="hasCreatePrivilege$ | async"
        mat-icon-button
        (click)="setDefaultConsumerGroup()"
        matTooltip="Sets the currently selected consumer group as default. The consumer group currently selected as default is marked with a tick."
      >
        <mat-icon fontSet="material-icons-outlined">people</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
