.entity-header-icon {
  min-width: fit-content;
  align-self: center;
}

:host ::ng-deep .entity-header-icon mat-icon {
  height: 2.3rem;
  width: 2.3rem;
}

.entity-header-text {
  font-weight: 400;
  font-size: 24px;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.entity-header-small {
  width: calc(100% - 100px);
}

.entity-header-smaller {
  width: calc(100% - 130px);
}

.entity-header-smallest {
  width: calc(100% - 160px);
}

.entity-header-ultra-smallest {
  width: calc(100% - 190px);
}

span{
  font-size: 15px;
}