fa-icon {
  vertical-align: text-bottom !important;
  cursor: pointer !important;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node:not(li) {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0.25rem;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
}

::ng-deep .mat-tree-node.active:not(li) {
  background-color: rgb(102, 181, 18);
  border-color: rgb(102, 181, 18);

  app-resource-hierarchy-item {
    color: white !important;
  }
}

div.warning {
  color: white;
  font-size: small;
  background-color: #ff304c;
  border-color: #a70017;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
}

.warning-text {
  vertical-align: middle;
}

.change-resource-dialog {
  height: 100%;
  margin: 0 !important;
}

.change-resource-headline {
  padding-top: 15px;
  margin-bottom: 15px;
  // padding-bottom: 15px;
}

.change-resource-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 87%;
}

.change-resource-picker {
  max-height: 88%;
  overflow: auto;
}

.change-resource-tree {
  width: 98%;
}

.change-resource-actions {
  display: flex;
  justify-content: flex-end;
}

.change-resource-actions > * {
  margin-left: 10px;
}

.mat-dialog-content {
  max-height: none;
}
