.mat-standard-chip {
  border-radius: 10px;
  min-height: 20px;
  padding: 0px 6px;
}

.current-version {
  color: white !important;
  background-color: var(--bayer-dark-blue);
}

.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: white
}

.c-pointer { cursor: pointer; }
