<div class="d-flex justify-content-center mt-5">
  <img [src]="imageUrl" alt="Bayer AG" width="180em" height="180em">
</div>
<div class="d-flex justify-content-center mt-3">
  <h1 class="display-3">We'll be right back!</h1>
</div>
<div class="justify-content-center mt-3">
  <div class=" text-center" style="font-size: large;">
    Our website is currently undergoing scheduled maintenance.
    <br>
    We should be back shortly. Thank you for your patience.
  </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <h3> Please try again later.</h3>
</div>
