<div class="modal-header justify-content-center">
    <h2 class="mb-0">Classified as "secret"</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12 text-center">
            <p>
                You are going to register data which are classified as <span
                    class="font-weight-bold">"secret"</span>.
            </p>
            <p>
                By registering, the secret data will not become accessible by persons
                <br>
                who should not have access to these data, however,
                <br>
                meta data (such as the storage location of the data) will become apparent.
            </p>
            <p>
                Please acknowledge by clicking "OK" and saving or publishing the resource
                <br>
                that the data owner granted you a permission to register the data.
            </p>

        </div>
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button mat-raised-button color="primary" class="mr-2" [mat-dialog-close]="true"> OK </button>
</div>