.fixed {
  top: 50% !important;
  right: -178px !important;
  bottom: auto !important;
  left: auto !important;
  position: fixed !important;
}

.rotated {
  transform: rotate(270deg);
}

.logo-footer {
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.text-large {
  font-size: 1.15rem;
  font-weight: 400;
}

.mt-6 {
  margin-top: 50px !important;
}

.center-button {
  width: 200px!important;
  min-width: unset!important;
  justify-content: center;
}
