::ng-deep .mat-checkbox-layout {
    margin-bottom: 0px;
}

.searchhit {
    background-color: #d3d3d3;
}

.selected-node {
    background-color: rgba(63,81,181,.3);
}

.mat-tree-node {
    min-height: 40px;
}