.spacer {
  flex: 1 1 auto;
}

.edit-button {
  position: fixed;
  top: calc(100vh - 100px);
  right: 50px;
  z-index: 1000;
}

.mat-standard-chip {
  border-radius: 10px;
  min-height: 20px;
  padding: 0px 8px;
}

.mat-standard-chip > .mat-icon {
  height: 16px;
  width: 16px;
}

.mat-standard-chip > .material-icons-outlined {
  font-size: 16px;
}

mat-chip-list {
  margin-left: 1em;
}

a:hover {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.resource-title-bar {
  background-color: white;
  color: black;
}