<div class="wrapper-container">
  <div>
    <h1>Unauthorized</h1>
    <p>This application requires edit permissions on COLID Data</p>
    <p>
      To obtain permissions, please contact colid&#64;bayer.com or reach out to
      the teams channel here
      <a
        href="https://teams.microsoft.com/l/channel/19%3a0886ead17f464924b05deab5e60e2aa1%40thread.skype/Data%2520Marketplace%2520and%2520COLID?groupId=86b10aae-3f73-4a6f-9c2f-3badf4978bb1&tenantId=fcb2b37b-5da0-466b-9b83-0014b67a7c78"
        >COLID TEAM CHAT</a
      >
    </p>
  </div>
</div>
